@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* custom */
  --text-xsp: 13px;
  --text-smp: 15px;
  --text-mdp: 17px;
  --color-primary-50: #fbf8fb;
  --color-primary-100: #f5f0f7;
  --color-primary-200: #eadfef;
  --color-primary-300: #d9c6e1;
  --color-primary-400: #c3a4ce;
  --color-primary-500: #a87fb6;
  --color-primary-600: #8b6099;
  --color-primary-700: #744d7e;
  --color-primary-800: #604068;
  --color-primary-900: #563c5c;
  --color-primary-950: #311d35;
  --color-primary: #744d7e;
  --color-primary-foreground: #fbf8fb;
  --color-error-100: #ffdee0;
  --color-error-300: #ff9aa1;
  --color-error-500: #ff2e3c;
  --color-error-600: #ec0b1a;
  --color-error-900: #8c1018;
  --color-error: #ec0b1a;
  --color-error-foreground: #ffdee0;
  --color-info-100: #d8f2ff;
  --color-info-600: #1891fc;
  --color-info-700: #0d76e8;
  --color-info-900: #155193;
  --color-info: #1891fc;
  --color-info-foreground: #d8f2ff;
  --color-success-200: #c0f2ce;
  --color-success-400: #57d179;
  --color-success-500: #30b757;
  --color-success-700: #1e7738;
  --color-success: #30b757;
  --color-success-foreground: #c0f2ce;
  --color-warning-100: #fefdc3;
  --color-warning-300: #fced48;
  --color-warning-500: #e9c309;
  --color-warning-700: #a06e08;
  --color-warning: #e9c309;
  --color-warning-foreground: #fefdc3;
  --color-gray-10: #ffffff;
  --color-gray-20: #ebebeb;
  --color-gray-30: #d7d7d7;
  --color-gray-40: #c3c3c3;
  --color-gray-50: #b0b0b0;
  --color-gray-100: #9d9d9d;
  --color-gray-200: #8a8a8a;
  --color-gray-300: #787878;
  --color-gray-400: #666666;
  --color-gray-500: #555555;
  --color-gray-600: #444444;
  --color-gray-700: #343434;
  --color-gray-800: #242424;
  --color-gray-900: #161616;
  --color-gray-950: #000000;
  --color-gray: #555555;
  --color-gray-foreground: #ffffff;
  --color-background: #f5f6f8;
  --color-foreground: #252525;
  /* shadcnui */
  --color-card: #ffffff;
  --color-card-foreground: #252525;
  --color-popover: #ffffff;
  --color-popover-foreground: #252525;
  --color-secondary: #f7f7f7;
  --color-secondary-foreground: #343434;
  --color-muted: #f7f7f7;
  --color-muted-foreground: #8e8e8e;
  --color-accent: #f7f7f7;
  --color-accent-foreground: #343434;
  --color-destructive: #ff2e3c;
  --color-border: #c3c3c3;
  --color-input: #e5e5e5;
  --color-ring: #b4b4b4;
  --color-chart-1: #f59e0b;
  --color-chart-2: #10b981;
  --color-chart-3: #3b82f6;
  --color-chart-4: #f97316;
  --color-chart-5: #8b5cf6;
  --color-sidebar: #fafafa;
  --color-sidebar-foreground: #252525;
  --color-sidebar-primary: #343434;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f7f7f7;
  --color-sidebar-accent-foreground: #343434;
  --color-sidebar-border: #ebebeb;
  --color-sidebar-ring: #b4b4b4;
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground  flex min-h-dvh flex-col overflow-x-hidden text-[--font-size-body-mobile] font-[--font-weight-body-mobile];
  }
  input {
    @apply outline-none;
  }
  main {
    @apply h-full flex-1 py-6 flex flex-col gap-5;
  }
  button {
    @apply cursor-pointer;
  }
}

@utility container {
  @apply mx-auto px-4 max-w-7xl;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
